extends layout

block content
	h1 Quecéça
	h4 Article List
	
	div(class="container") 
		div(class="row")
			div(class="col-lg-6 alert alert-success" style="text-align:center") Title
			div(class="col alert alert-primary" style="text-align:center") Source
	
	div(id="ArticleList" class="container")
		div(id="Article1" class="row")
			div(class="col-lg-6 alert alert-success") russie-election-presidentielle-vladimir-poutine
			div(class="col alert alert-primary") Radio-can		
		div(id="Article2" class="row")
			div(class="col-lg-6 alert alert-success") http://ici.radio-canada.ca/nouvelle/1089856/xi-jinping-reelu-unanimite-chine-president
			div(class="col alert alert-primary") Radio-can
		div(id="Article3" class="row")
			div(class="col-lg-6 alert alert-success") http://ici.radio-canada.ca/nouvelle/1090978/donald-trump-conseiller-securite-nationale-remplacement-hr-mcmaster-john-bolton
			div(class="col alert alert-primary") Radio-can
		div(id="Article4" class="row")
			div(class="col-lg-6 alert alert-success") http://ici.radio-canada.ca/nouvelle/1091162/catalogne-prison-independantistes-catalans-manifestations-barcelone
			div(class="col alert alert-primary") Radio-can
		div(id="Article5" class="row")
			div(class="col-lg-6 alert alert-success") http://ici.radio-canada.ca/nouvelle/1090381/scandales-donnees-facebook-cambridge-analytica-vises-3-enquetes-internationales
			div(class="col alert alert-primary") Radio-can